@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  box-sizing: border-box;
}

header {
  padding: 1em;
}

h1 {
  font-size: 2em;
}

#task-maker {
  margin: 1em;
}

#task-maker label {
  margin: 0.5em;
}

#list-container {
  display: inline-block;
  width: 20%;
  margin: auto;
  border: 1px solid black;
  text-align: left;
  text-align: left;
}

h2 {
  font-size: 1em;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.crossed {
  text-decoration: line-through;
}

.fade-out {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
